Repository lotva/my-hackathons: changes, and which lefthook commands are due for each by the changed paths.
All: lint-styles, lint-scripts, format

lefthook.yaml:

commit-msg:
  commands:
    'lint commit message':
      run: pnpm exec commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    lint-styles:
      glob: '*.{vue,css}'
      run: pnpm exec stylelint --fix {staged_files}
      stage_fixed: true
    lint-scripts:
      glob: '*.{vue,ts}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    lint-architecture:
      run: pnpm exec depcruise src
    format:
      glob: '*.{vue,ts,json,css,yaml,html}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: pnpm run test

feat(catalog): add location-based filtering and backend integration for map
  package.json
  src/(core)/api/openapi.d.ts
  src/(modules)/catalog/api/queries.ts
  src/(modules)/catalog/config/cities.ts
  src/(modules)/catalog/index.ts
  src/(modules)/catalog/lib/mapApiDataToLocations.ts
  src/(modules)/catalog/lib/useFiltersSync.ts
  src/(modules)/catalog/ui/Catalog.vue
  src/(modules)/catalog/ui/Filters.vue
  src/(modules)/catalog/ui/Map.vue
  src/(modules)/catalog/ui/index.ts
Due: lint-styles, lint-scripts, format

feat: add GitHub Actions
  .github/workflows/dependency-cruiser.yaml
  .github/workflows/eslint.yaml
  .github/workflows/prettier.yaml
  .github/workflows/stylelint.yaml
  .github/workflows/tsc.yaml
Due: format

refactor(head): remove redundant preload
  src/(modules)/+Head.vue
Due: lint-styles, lint-scripts, format

docs: personalize README
  README.md
Due: none

feat: add support for Render deployment
  .env.example
  package.json
  vite.config.ts
Due: lint-scripts, format

fix: prevent forced refetch to respect cache lifetime
  src/(modules)/catalog/lib/usePaginatedEvents.ts
Due: lint-scripts, format

refactor: move audience list to frontend config
  src/(modules)/catalog/api/queries.ts
  src/(modules)/catalog/config/filters.ts
  src/(modules)/catalog/config/types.ts
  src/(modules)/catalog/ui/Filters.vue
  vitest.config.ts
Due: lint-styles, lint-scripts, format

fix: avoid `letter-spacing` style conflict
  src/(core)/ui/Logo/Logo.vue
Due: lint-styles, lint-scripts, format

fix(ui): hide metadata block when empty
  src/(modules)/events/ui/EventCard.vue
  src/(modules)/events/ui/Metadata.vue
Due: lint-styles, lint-scripts, format

fix: disable next page button while fetching
  src/(modules)/catalog/lib/usePaginatedEvents.ts
  src/(modules)/catalog/ui/Catalog.vue
  src/(modules)/catalog/ui/Grid.vue
Due: lint-styles, lint-scripts, format

perf: remove unused styles
  src/(core)/styles/globals/typography.css
Due: lint-styles, format

feat(ui): prettify text wrapping
  src/(core)/ui/Content/Content.vue
Due: lint-styles, lint-scripts, format

docs: enrich readme
  README.md
Due: none

build: migrate to Photon for Vercel deployment
  .env.example
  .gitignore
  .prettierignore
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  src/(core)/+config.ts
  src/(modules)/+config.ts
  src/(modules)/pages/_error/+Page.vue
Due: lint-styles, lint-scripts, format

fix: enable Vite previewing
  src/(modules)/+config.ts
Due: lint-scripts, format

fix: validate URL parameters to prevent external objects in filters
  src/(modules)/catalog/lib/initFiltersFromUrlParameters.ts
  src/(modules)/catalog/lib/usePaginatedEvents.ts
Due: lint-scripts, format

docs: add mirror link for Russia
  README.md
Due: none

fix: adjust sticky elements UI for modern Safari
  .prettierrc.json
  src/(core)/layouts/LayoutDefault.vue
  src/(core)/styles/globals/base.css
  src/(core)/styles/globals/typography.css
  src/(core)/ui/Header/Header.vue
  src/(core)/ui/Header/IconLoader.vue
  src/(core)/ui/Header/IconTelegram.vue
  src/(core)/ui/Header/index.ts
  src/(core)/ui/Logo/Logo.vue
  src/(core)/ui/Logo/index.ts
  src/(modules)/events/pages/@id/+Page.vue
  src/(modules)/events/ui/EventCard.vue
  src/(modules)/events/ui/RegisterAction.vue
  src/(modules)/index/pages/+Page.vue
  src/(modules)/index/ui/FeaturedEvent.vue
  stylelint.config.js
Due: lint-styles, lint-scripts, format

chore: update to Vite 8 and TypeScript 6
  .env.example
  .github/workflows/dependency-cruiser.yaml
  .github/workflows/eslint.yaml
  .github/workflows/prettier.yaml
  .github/workflows/stylelint.yaml
  .github/workflows/tsc.yaml
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/(core)/+config.ts
  src/(core)/route-tree.gen.ts
  src/(core)/styles/globals/typography.css
  src/(core)/ui/Header/Header.vue
  src/(modules)/+config.ts
  src/(modules)/catalog/lib/usePaginatedEvents.ts
  src/(modules)/catalog/ui/Filters.vue
  src/(modules)/catalog/ui/Map.vue
  src/(modules)/events/pages/@id/+Page.vue
  src/(modules)/events/pages/@id/+data.ts
  src/(modules)/events/ui/EventCard.vue
  src/(modules)/index/pages/+Page.vue
  src/(modules)/index/pages/+data.ts
  src/(modules)/index/ui/FeaturedEvent.vue
  stylelint.config.ts
  vite.config.ts
Due: lint-styles, lint-scripts, format

feat: add Open Graph preview
  public/images/open-graph.jpg
  src/(modules)/+Head.vue
Due: lint-styles, lint-scripts, format
